#form-upload {
    background-color: #eee;
    padding: 20px;
    border: 1px solid #ccc;
}

#form-upload > div {
    margin: 20px 0;
}

#message {
    display: none;
    border: 1px solid grey;
    padding: 10px 20px;
}

.process-info span {
    display: block;
    padding: 10px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.process-info.processing span {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.form-container.export{
    margin:15px 0;
    text-align: right;
}